/* The modal (hidden by default) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position to cover the entire screen */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  justify-content: center;
  align-items: center;
}

/* Modal content (the image inside the modal) */
.modal-content {
  max-width: 90%; /* Limit the size of the image */
  max-height: 90%; /* Limit the size of the image */
  margin: auto;
  display: block;
}

/* Close button in the top-right corner */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #f1f1f1;
  text-decoration: none;
}

.thumbnail {
  cursor: pointer;
}