@import url('fonts/satoshi/css/satoshi.css');

body {
  font-family: Satoshi-Regular;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #a99e7c1a;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

#name {
  font-size: 40px;
}

#title {
  font-size: 25px;
  margin-bottom: 40px;
}

.menu {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.menu-item {
  text-align: center;
  line-height: 75px;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

hr.menu-rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
  width: 70%;
  margin-bottom: 50px;
}

.center-text {
  text-align: center; 
}

.top-content {
  display: flex;
}

#profile-image {
  border-radius: 30px;
  width: 450px;
}

.bio-text {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 250px;
}

.social-icons {
  float: right;
  display: grid;
  grid: auto;
}

.social-icon {
  padding-bottom: 10px;
}

.linkedin-icon {
  width: 50px;
}

.medium-icon {
  width: 42px;
}

.git-hub-icon {
  width: 42px;
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}





#case-studies {
  margin-top: 20px;
  /* display: grid; */
  /* grid-template-columns: auto auto; */
}

.case-studies-image {
  width: 200px;
}

.case-study-item {
  display: grid;
  grid-template-columns: 15% 40%;
}

.case-study-item-text {
  margin-top: 50px;
  margin-left: 50px;
}

.case-studies-content {
  margin-right: 100px;
}







.skills-text {
  margin-left: 50px;
  margin-right: 250px;
}

.certifications-text {
  margin-left: 50px;
  margin-right: 250px;
}

.me-shuttle-img {
  width: 100%;
  /* width: 35%;
  margin-right: 50px;
  float: left; */
}

.shuttle-tank {
  width: 100%;
  /* margin-top: 50px;
  width: 50%; */
}

.ksc-text {
  margin-right: 50px;
  padding-top: 40px;
  padding-right: 70px;
  margin-left: 100px;
}

.bottom-figure {
  margin-right: 50px;
  float: right;
  width: 40%;
}

.coyote-figure {
  margin-right: 50px;
  float: left;
  width: 40%;
}

.coyote-img {
  width: 100%;
  /* width: 35%;
  margin-right: 50px;
  float: left; */
}

.selfy-img {
  /* margin-top: 50px; */
  width: 100%;
}

.ft-riley-img {
  width: 100%;
}

.ft-riley-figure {
  margin-right: 50px;
  float: left;
  width: 30%;
}

.machine-gun-img {
  /* margin-top: 50px; */
  width: 100%;
  /* width: 100%; */
}

.kdas-control-figure {
  margin-right: 50px;
  float: right;
  width: 60%;
}

.figcaption {
  text-align: center;
  width: 100%
}